<div class="panel panel-default">
  <div class="panel-heading">
      <h1 style="text-align: center">Details</h1><br>
      <div class="row" [hidden]="!deleteMessage">
           
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                        <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Detail Data Deleted</strong>
                        </div>
                </div>
                <div class="col-sm-4"></div>
        </div>           
    </div>

  
  <div class="panel-body">
      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"  >
          <thead class="thead-light">
              <tr>
                  <th>SCENARIO_NAME</th>
                  <th>SCENARIO_DESC</th>
                  <th>FILE_NAME</th>
                  <th>SCENARIO_PARAMS</th>
                  <th>OPTIONS</th>
              </tr>
          </thead>
          <tbody>
               <tr *ngFor="let detail of detaillist ">
                  <td>{{detail.scenarioName}}</td>
                  <td>{{detail.scenarioDesc}}</td>
                  <td>{{detail.fileName}}</td>
                  <td>{{detail.scenarioParams}}</td>
                  <td><input type ="checkbox"></td>
                </tr> 
          </tbody><br>
      </table>
  </div>
</div> 

