    <div  class="container-fluid">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      
          <p *ngFor="let item of items; let in = index">
            <mat-expansion-panel [(expanded)]="item.xpandStatus">
              <mat-expansion-panel-header>
                <mat-panel-title>{{item.title}} panel</mat-panel-title>
                <!--<mat-panel-description>{{item.selectedItems}}</mat-panel-description>-->
              </mat-expansion-panel-header>

                <div class="panel panel-primary">
                  <div class="panel-heading"> 
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>{{item.title}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <angular2-multiselect  name="dropdown-{{item.id}}" [data]="item.dataList" [(ngModel)]="item.selectedItems[item.id]" 
                              [settings]="dropdownSettings" 
                              (onSelect)="onItemSelect($event, item.id)" 
                              (onDeSelect)="OnItemDeSelect($event,item.id)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)" disabled></angular2-multiselect>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

             </mat-expansion-panel>
          </p>
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a routerLink="view-detail" class="nav-link" class="btn btn-primary active" role="button" >Submit</a>
            </li>         
          </ul>
       </nav>
       <router-outlet></router-outlet>
    </div>
